* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  font-size: 10px;
  font-family: "Ubuntu", sans-serif;
  color: #42454A;
}

body {
  padding-bottom: 10rem;
}

.container {
  max-width: 140rem;
  height: 100%;
  padding: 0 3rem;
  margin: 0 auto;
}

.header {
  height: 10rem;
  border-bottom: 0.1rem solid #EAE8F3;
}
.header__box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__actions {
  display: flex;
}
.header__button_separate {
  margin-right: 1.5rem;
}

.nav__menu {
  display: flex;
}
.nav__item {
  margin-right: 7.6rem;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  color: #42454A;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

.gen {
  padding-top: 8.7rem;
  position: relative;
}
.gen__title {
  margin-bottom: 9.3rem;
}
.gen__info {
  max-width: 58.6rem;
}
.gen__image {
  position: absolute;
  top: 3.4rem;
  right: 0;
}
.gen__separator {
  margin-bottom: 6.2rem;
}
.gen__text {
  font-size: 2.2rem;
  font-weight: 400;
  max-width: 35.3rem;
  line-height: 3.4rem;
  margin-bottom: 6.2rem;
}
.gen__actions {
  display: flex;
}
.gen__actions-buy {
  display: flex;
  align-items: center;
  height: 5.8rem;
  width: 18.4rem;
  margin-right: 7.73rem;
}
.gen__actions-buy:hover {
  cursor: pointer;
}
.gen__actions-buy:hover .gen__actions-buy-button {
  background: #ffffff;
  border: 0.1rem solid #42454A;
}
.gen__actions-buy:hover .gen__actions-buy-button::after {
  background: #42454A;
}
.gen__actions-buy:hover .gen__actions-buy-button::before {
  border-color: transparent transparent transparent #42454A;
}
.gen__actions-buy:hover .gen__actions-buy-text {
  background: #42454A;
  color: #ffffff;
}
.gen__actions-buy-button {
  position: relative;
  height: 100%;
  width: 5.8rem;
  background: #42454A;
  border: 0.1rem solid transparent;
  transition: 0.3s;
}
.gen__actions-buy-button::after {
  content: "";
  background: #ffffff;
  width: 1rem;
  height: 0.2rem;
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(0, -50%);
  transition: 0.3s;
}
.gen__actions-buy-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(0, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 8.7px;
  border-color: transparent transparent transparent #ffffff;
  transition: 0.3s;
}
.gen__actions-buy-text {
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  transition: 0.3s;
}
.gen__actions-watch {
  display: flex;
  width: 18.8rem;
  height: 100%;
}
.gen__actions-watch-text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.5rem;
  max-width: 8.7rem;
  margin-right: 2.1rem;
}
.gen__actions-watch-button {
  animation-name: spinning-circle;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  width: 8rem;
  height: 8rem;
}
.gen__actions-watch-button img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.separator {
  display: block;
  width: 33.5rem;
  height: 0.4rem;
  background: #42454A;
}

.title_huge {
  text-transform: uppercase;
  font-size: 9rem;
  font-weight: 300;
  line-height: 9.5rem;
}
.title_huge span {
  font-weight: 700;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 10.6rem;
  height: 4.8rem;
  color: #ffffff;
  background: #42454A;
  font-size: 1.4rem;
  font-weight: 400;
  border: 0.1rem solid #42454A;
  border-radius: 0.8rem;
  transition: 0.3s;
}
.button_light {
  color: #42454A;
  background: transparent;
  border: 0.1rem solid transparent;
}
.button_light:hover {
  border: 0.1rem solid #42454A;
}
.button:hover {
  color: #42454A;
  background: #ffffff;
}

@keyframes spinning-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}