* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  font-size: 10px;
  font-family: "Ubuntu", sans-serif;
  color: #42454A;
}

body {
  padding-bottom: 10rem;
}

.container {
  max-width: 140rem;
  height: 100%;
  padding: 0 3rem;
  margin: 0 auto;
}
.container_slider {
  max-width: 121.2rem;
}

.main {
  margin-bottom: 3rem;
}

.header {
  height: 10rem;
  border-bottom: 0.1rem solid #EAE8F3;
}
.header__box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__actions {
  display: flex;
}
.header__button {
  width: 10.6rem;
  height: 4.8rem;
}
.header__button_separate {
  margin-right: 1.5rem;
}

.nav__menu {
  display: flex;
}
.nav__item {
  margin-right: 7.6rem;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  color: #42454A;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

.gen {
  padding-top: 8.7rem;
  position: relative;
}
.gen__title {
  margin-bottom: 9.3rem;
}
.gen__info {
  max-width: 58.6rem;
  margin-bottom: 1.8rem;
}
.gen__image {
  position: absolute;
  top: 3.4rem;
  right: 0;
}
.gen__separator {
  margin-bottom: 6.2rem;
}
.gen__text {
  font-size: 2.2rem;
  font-weight: 400;
  max-width: 35.3rem;
  line-height: 3.4rem;
  margin-bottom: 6.2rem;
}
.gen__actions {
  display: flex;
}
.gen__actions-buy {
  display: flex;
  align-items: center;
  height: 5.8rem;
  width: 18.4rem;
  margin-right: 7.73rem;
}
.gen__actions-buy:hover {
  cursor: pointer;
}
.gen__actions-buy:hover .gen__actions-buy-button {
  background: #ffffff;
  border: 0.1rem solid #42454A;
}
.gen__actions-buy:hover .gen__actions-buy-button::after {
  background: #42454A;
}
.gen__actions-buy:hover .gen__actions-buy-button::before {
  border-color: transparent transparent transparent #42454A;
}
.gen__actions-buy:hover .gen__actions-buy-text {
  background: #42454A;
  color: #ffffff;
}
.gen__actions-buy-button {
  position: relative;
  height: 100%;
  width: 5.8rem;
  background: #42454A;
  border: 0.1rem solid transparent;
  transition: 0.3s;
}
.gen__actions-buy-button::after {
  content: "";
  background: #ffffff;
  width: 1rem;
  height: 0.2rem;
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(0, -50%);
  transition: 0.3s;
}
.gen__actions-buy-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(0, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 8.7px;
  border-color: transparent transparent transparent #ffffff;
  transition: 0.3s;
}
.gen__actions-buy-text {
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  transition: 0.3s;
}
.gen__actions-watch {
  display: flex;
  width: 18.8rem;
  height: 100%;
}
.gen__actions-watch-text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.5rem;
  max-width: 8.7rem;
  margin-right: 2.1rem;
}
.gen__actions-watch-button {
  animation-name: spinning-circle;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  width: 8rem;
  height: 8rem;
}
.gen__actions-watch-button img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.gen__slider {
  width: 100%;
  height: 14.6rem;
}
.gen__slider-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.gen__slider-counter {
  font-family: "Calistoga", cursive;
  font-size: 15rem;
  position: relative;
  color: #ffffff;
  -webkit-text-stroke: 0.1rem #42454A;
  margin-right: 3.7rem;
}
.gen__slider-controls {
  display: flex;
  width: 10.4rem;
  height: 4.6rem;
}
.gen__slider-button-left, .gen__slider-button-right {
  cursor: pointer;
  height: 100%;
  width: 50%;
  border: 0.1rem solid #17181A;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.gen__slider-button-left span, .gen__slider-button-right span {
  width: 0.7rem;
  height: 0.7rem;
  border: 0.2rem solid #17181A;
  border-left: none;
  border-bottom: none;
  transition: 0.3s;
}
.gen__slider-button-left:hover, .gen__slider-button-right:hover {
  background: #17181A;
}
.gen__slider-button-left:hover span, .gen__slider-button-right:hover span {
  border-color: #ffffff;
}
.gen__slider-button-left {
  border-radius: 2.3rem 0 0 2.3rem;
}
.gen__slider-button-left span {
  transform: rotate(-135deg);
}
.gen__slider-button-right {
  border-radius: 0 2.3rem 2.3rem 0;
  border-left: none;
}
.gen__slider-button-right span {
  transform: rotate(45deg);
}

.chars {
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 11.7rem;
}
.chars__box {
  height: 13.7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.chars__item {
  width: 17.4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #F4F4F4;
  border-radius: 0.6rem;
  box-shadow: 0 1.4rem 2.6rem 0 rgba(0, 0, 0, 0.06);
}
.chars__text {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}
.chars__unit {
  font-size: 1.8rem;
  font-weight: 700;
}
.chars__desc {
  font-size: 1.3rem;
}

.product {
  margin-bottom: 12.7rem;
}
.product__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__title {
  margin-bottom: 3.4rem;
}
.product__subtitle {
  margin-bottom: 2.2rem;
}
.product__content {
  display: flex;
}
.product__image {
  flex: 0 0 50%;
}
.product__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product__features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15rem;
}
.motor {
  margin-bottom: 12.7rem;
}
.motor__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.motor__title {
  margin-bottom: 3.4rem;
}
.motor__image {
  width: 100%;
  height: auto;
}
.motor__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.accessories {
  margin-bottom: 12.7rem;
}
.accessories__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accessories__title {
  margin-bottom: 3.4rem;
}
.accessories__subtitle {
  margin-bottom: 11.2rem;
}
.accessories__content {
  display: flex;
  margin-bottom: 11.2rem;
}
.accessories__body {
  flex: 1 1 40%;
}
.accessories__body-title {
  margin-bottom: 3.3rem;
}
.accessories__list {
  display: flex;
  flex-direction: column;
}
.accessories__button {
  width: 57rem;
  height: 9.4rem;
}

.rack {
  display: flex;
  margin-bottom: 7.4rem;
}
.rack__image {
  flex: 1 1 60%;
}
.rack__body {
  padding-left: 14.7rem;
}
.rack__body-title {
  margin-bottom: 3.3rem;
}

.gallery {
  margin-bottom: 12.7rem;
}
.gallery__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery__title {
  margin-bottom: 3.4rem;
}
.gallery__subtitle {
  margin-bottom: 11.2rem;
}
.gallery__content {
  display: flex;
}
.gallery__column {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}
.gallery__column_left {
  padding-top: 19rem;
  padding-right: 3.4rem;
}
.gallery__column_right {
  padding-left: 3.4rem;
}
.gallery__column_right .gallery__image {
  margin-bottom: 9.6rem;
}
.gallery__column_right .gallery__image:last-child {
  margin-bottom: 0;
}
.gallery__image {
  width: 100%;
  height: 48.5rem;
}
.gallery__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.gallery__actions {
  margin-top: 5.5rem;
}
.gallery__button {
  width: 100%;
  height: 9.4rem;
  margin-bottom: 2.7rem;
}
.gallery__button:last-child {
  margin-bottom: 0;
}

.colors {
  margin-bottom: 25.9rem;
}
.colors__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.colors__title {
  margin-bottom: 3.4rem;
}
.colors__subtitle {
  margin-bottom: 11.2rem;
}
.colors__bg-image {
  width: 100%;
  height: 87.3rem;
  position: relative;
}
.colors__bg-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.colors__flavores {
  width: 100%;
  position: absolute;
  bottom: -13.2rem;
  left: 0;
}
.colors__flavores-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.colors__flavores-item {
  width: 26.4rem;
  height: 26.4rem;
}
.colors__flavores-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonials {
  margin-bottom: 12.1rem;
}
.testimonials__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.1rem;
}

.slider__item {
  border: 0.1rem solid #D8D8D8;
  width: 36rem;
  height: 36.6rem;
  margin-right: 3.6rem;
  transition: 0.3s;
}
.slider__item:last-child {
  margin-right: 0;
}
.slider__item:hover {
  box-shadow: 0 2.5rem 1rem 0.8rem rgba(49, 49, 49, 0.1);
}
.slider__content {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5.2rem 3rem;
}
.slider__rating {
  display: flex;
}
.slider__star {
  margin-right: 0.2re;
}
.slider__star:last-child {
  margin-right: 0;
}
.slider__body {
  flex-grow: 1;
  font-size: 2rem;
  line-height: 140%;
  display: flex;
  align-items: center;
}
.slider__person {
  display: flex;
  align-items: center;
}
.slider__person-image {
  width: 4.8rem;
  height: 4.8rem;
  margin-right: 2rem;
}
.slider__person-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__person-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.slider__person-name {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}
.slider__person-position {
  font-size: 1.4rem;
  font-weight: 400;
}

.slick-list {
  padding: 2rem 0;
}

.subs__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subs__title {
  margin-bottom: 1.1rem;
}
.subs__subtitle {
  margin-bottom: 5.9rem;
}

.form__box {
  display: flex;
  justify-content: space-between;
  width: 61.6rem;
  height: 8.1rem;
}
.form__input {
  width: 40rem;
  height: 100%;
  background: #f5f5f5;
  border-radius: 1rem;
  padding: 3.8rem;
  font-size: 2rem;
  color: #42454A;
}
.form__input::-moz-placeholder {
  font-size: 2rem;
}
.form__input::placeholder {
  font-size: 2rem;
}
.form__button {
  width: 19.6rem;
  height: 100%;
}

.separator {
  display: block;
  width: 33.5rem;
  height: 0.4rem;
  background: #42454A;
}

.list__item {
  height: 4.9rem;
  padding-left: 6.7rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 3.4rem;
  display: flex;
  position: relative;
}
.list__item::after {
  content: "";
  width: 4.9rem;
  height: 4.9rem;
  background: url("../img/product-features-label.svg") no-repeat top left;
  position: absolute;
  top: 0;
  left: 0;
}

.title_huge {
  text-transform: uppercase;
  font-size: 9rem;
  font-weight: 300;
  line-height: 9.5rem;
}
.title_huge span {
  font-weight: 700;
}
.title_big {
  font-size: 5rem;
  font-weight: 700;
}
.title_regular {
  font-size: 5rem;
  font-weight: 700;
}

.subtitle {
  font-size: 2rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #42454A;
  font-size: 1.4rem;
  font-weight: 400;
  border: 0.1rem solid #42454A;
  border-radius: 0.8rem;
  transition: 0.3s;
}
.button_empty {
  background: #ffffff;
  color: #42454A;
  font-size: 3rem;
  font-weight: 700;
  text-transform: none;
  border: 0.2rem solid #42454A;
}
.button_light {
  color: #42454A;
  background: transparent;
  border: 0.1rem solid transparent;
}
.button_light:hover {
  border: 0.1rem solid #42454A;
}
.button_norm-text {
  font-size: 2rem;
  text-transform: none;
}
.button:hover {
  color: #42454A;
  background: #ffffff;
}

@keyframes spinning-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}