$color-primary: #42454A;
$color-secondary: #ffffff;
$color-light: #EAE8F3;
$color-black: #000;
$color-dark: #17181A;
$color-stroke-light: #F4F4F4;
$color-gray: #D8D8D8;
$color-shadow: #313131;
$color-dim: #f5f5f5;