@import 'nullstyle';
@import 'colors';
@import 'variables';

html, body {
    font-size: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: $color-primary;
}

body {
    padding-bottom: 10rem;
}

.container {
    max-width: 140rem;
    height: 100%;
    padding: 0 3rem;
    margin: 0 auto;

    &_slider {
        max-width: 121.2rem;
    }
}

.main {
    margin-bottom: 3rem;
}

.header {
    height: 10rem;
    border-bottom: 0.1rem solid $color-light;

    &__box {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__actions {
        display: flex;
    }

    &__button {
        width: 10.6rem;
        height: 4.8rem;

        &_separate {
            margin-right: 1.5rem;
        }
    }

}

.nav {

    &__menu {
        display: flex;
    }

    &__item {
        margin-right: 7.6rem;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        color: $color-primary;
        font-size: 1.4rem;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.gen {
    padding-top: 8.7rem;
    position: relative;

    &__title {
        margin-bottom: 9.3rem;
    }

    &__info {
        max-width: 58.6rem;
        margin-bottom: 1.8rem;
    }

    &__image {
        position: absolute;
        top: 3.4rem;
        right: 0;
    }

    &__separator {
        margin-bottom: 6.2rem;
    }

    &__text {
        font-size: 2.2rem;
        font-weight: 400;
        max-width: 35.3rem;
        line-height: 3.4rem;
        margin-bottom: 6.2rem;
    }

    &__actions {
        display: flex;
    }

    &__actions-buy {
        display: flex;
        align-items: center;
        height: 5.8rem;
        width: 18.4rem;
        margin-right: 7.73rem;

        &:hover {
            cursor: pointer;
            .gen__actions-buy-button {
                background: $color-secondary;
                border: 0.1rem solid $color-primary;
                &::after {
                    background: $color-primary;
                    }
                &::before {
                    border-color: transparent transparent transparent $color-primary;
                    }
                }
            
            .gen__actions-buy-text {
                background: $color-primary;
                color: $color-secondary;
            }
        }
    }

    &__actions-buy-button {
        position: relative;
        height: 100%;
        width: 5.8rem;
        background: $color-primary;
        border: 0.1rem solid transparent;
        transition: 0.3s;

        &::after {
            content: '';
            background: $color-secondary;
            width: 1rem;
            height: 0.2rem;
            position: absolute;
            top: 50%;
            left: 38%;
            transform: translate(0, -50%);
            transition: 0.3s;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 55%;
            transform: translate(0, -50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 8.7px;
            border-color: transparent transparent transparent $color-secondary;
            transition: 0.3s;
        }
    }

    &__actions-buy-text {
        padding-left: 2.2rem;
        padding-right: 2.2rem;
        height: 100%;
        display: flex;
        align-items: center;
        color: $color-black;
        font-size: 2rem;
        font-weight: 500;
        transition: 0.3s;
    }

    &__actions-watch {
        display: flex;
        width: 18.8rem;
        height: 100%;
    }

    &__actions-watch-text {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.5rem;
        max-width: 8.7rem;
        margin-right: 2.1rem;
    }

    &__actions-watch-button {
        animation-name: spinning-circle;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        width: 8rem;
        height: 8rem;

        & img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    &__slider {
        width: 100%;
        height: 14.6rem;
    }

    &__slider-box {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__slider-counter {
        font-family: $font-calistoga;
        font-size: 15rem;
        position: relative;
        color: $color-secondary;
        -webkit-text-stroke: 0.1rem $color-primary;
        margin-right: 3.7rem;
    }

    &__slider-controls {
        display: flex;
        width: 10.4rem;
        height: 4.6rem;
    }

    &__slider-button-left, &__slider-button-right {
        cursor: pointer;
        height: 100%;
        width: 50%;
        border: 0.1rem solid $color-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;

        & span {
            width: 0.7rem;
            height: 0.7rem;
            border: 0.2rem solid $color-dark;
            border-left: none;
            border-bottom: none;
            transition: 0.3s;
        }

        &:hover {
            background: $color-dark;
            & span {
                border-color: $color-secondary;
            }
        }
    }

    &__slider-button-left {
        border-radius: 2.3rem 0 0 2.3rem;
        & span {
            transform: rotate(-135deg);
        }
    }
    &__slider-button-right {
        border-radius: 0 2.3rem 2.3rem 0;
        border-left: none;
        & span {
            transform: rotate(45deg);
        }
    }
}

.chars {
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 11.7rem;

    &__box {
        height: 13.7rem;
        width: 100%;

        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 17.4rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 0.1rem solid $color-stroke-light;
        border-radius: 0.6rem;
        box-shadow: 0 1.4rem 2.6rem 0 rgba($color-black, 0.06);
    }

    &__text {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 1.8rem;
    }
    &__unit {
        font-size: 1.8rem;
        font-weight: 700;
    }
    &__desc {
        font-size: 1.3rem;
    }
}

.product {
    margin-bottom: 12.7rem;

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 3.4rem;
    }
    &__subtitle {
        margin-bottom: 2.2rem;
    }

    &__content {
        display: flex;
    }

    &__image {
        flex: 0 0 50%;

        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15rem;
    }

    &__features-list li {
    }

    &__features-item {
    }
}

.motor {
    margin-bottom: 12.7rem;

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 3.4rem;
    }

    &__image {
        width: 100%;
        height: auto;

        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.accessories {
    margin-bottom: 12.7rem;

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 3.4rem;
    }
    &__subtitle {
        margin-bottom: 11.2rem;
    }

    &__content {
        display: flex;
        margin-bottom: 11.2rem;
    }

    &__body {
        flex: 1 1 40%;
    }

    &__body-title {
        margin-bottom: 3.3rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__button {
        width: 57rem;
        height: 9.4rem;
    }
}

.rack {
    display: flex;
    margin-bottom: 7.4rem;

    &__image {
        flex: 1 1 60%;
    }

    &__body {
        padding-left: 14.7rem;
    }

    &__body-title {
        margin-bottom: 3.3rem;
    }
}

.gallery {
    margin-bottom: 12.7rem;

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 3.4rem;
    }
    &__subtitle {
        margin-bottom: 11.2rem;
    }

    &__content {
        display: flex;
    }

    &__column {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;

        &_left {
            padding-top: 19rem;
            padding-right: 3.4rem;
        }
        &_right {
            padding-left: 3.4rem;
            & .gallery__image {
                margin-bottom: 9.6rem;
            }

            & .gallery__image:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__image {
        width: 100%;
        height: 48.5rem;

        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__actions {
        margin-top: 5.5rem;
    }

    &__button {
        width: 100%;
        height: 9.4rem;
        margin-bottom: 2.7rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.colors {
    margin-bottom: 25.9rem;

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 3.4rem;
    }
    &__subtitle {
        margin-bottom: 11.2rem;
    }

    &__bg-image {
        width: 100%;
        height: 87.3rem;
        position: relative;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__flavores {
        width: 100%;
        position: absolute;
        bottom: -13.2rem;
        left: 0;
    }

    &__flavores-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__flavores-item {
        width: 26.4rem;
        height: 26.4rem;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.testimonials {
    margin-bottom: 12.1rem;

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4.1rem;
    }
}

.slider {

    &__item {
        border: 0.1rem solid $color-gray;
        width: 36rem;
        height: 36.6rem;
        margin-right: 3.6rem;
        transition: 0.3s;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            box-shadow: 0 2.5rem 1rem 0.8rem rgba($color-shadow, 0.1);
        }

    }

    &__content {
        height: 100%;
        
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        padding: 5.2rem 3rem;
    }

    &__rating {
        display: flex;
    }

    &__star {
        margin-right: 0.2re;

        &:last-child {
            margin-right: 0;
        }
    }

    &__body {
        flex-grow: 1;
        font-size: 2rem;
        line-height: 140%;
        display: flex;
        align-items: center;
    }

    &__person {
        display: flex;
        align-items: center;
    }

    &__person-image {
        width: 4.8rem;
        height: 4.8rem;
        margin-right: 2rem;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__person-desc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__person-name {
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 0.4rem;
    }
    &__person-position {
        font-size: 1.4rem;
        font-weight: 400;
    }
}

.slick-list {
    padding: 2rem 0;
}

.subs {

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 1.1rem;
    }
    &__subtitle {
        margin-bottom: 5.9rem;
    }
}

.form {

    &__box {
        display: flex;
        justify-content: space-between;
        width: 61.6rem;
        height: 8.1rem;
    }

    &__input {
        width: 40rem;
        height: 100%;
        background: $color-dim;
        border-radius: 1rem;
        padding: 3.8rem;
        font-size: 2rem;
        color: $color-primary;

        &::placeholder {
            font-size: 2rem;
        }
    }

    &__button {
        width: 19.6rem;
        height: 100%;
    }
}


.separator {
    display: block;
    width: 33.5rem;
    height: 0.4rem;
    background: $color-primary;
}

.list {

    &__item {
        height: 4.9rem;
        padding-left: 6.7rem;
        font-size: 2rem;
        display: flex;
        align-items: center;
        margin-bottom: 3.4rem;
        display: flex;
        position: relative;

        &::after {
            content: '';
            width: 4.9rem;
            height: 4.9rem;
            background: url('../img/product-features-label.svg') no-repeat top left;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.title {
    
    &_huge {
        text-transform: uppercase;
        font-size: 9rem;
        font-weight: 300;
        line-height: 9.5rem;

        & span {
            font-weight: 700;
        }
    }

    &_big {
        font-size: 5rem;
        font-weight: 700;
    }

    &_regular {
        font-size: 5rem;
        font-weight: 700;
    }
}

.subtitle {
    font-size: 2rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: $color-secondary;
    background: $color-primary;
    font-size: 1.4rem;
    font-weight: 400;
    border: 0.1rem solid $color-primary;
    border-radius: 0.8rem;
    transition: 0.3s;

    &_empty {
        background: $color-secondary;
        color: $color-primary;
        font-size: 3rem;
        font-weight: 700;
        text-transform: none;
        border: 0.2rem solid $color-primary;
    }

    &_light {
        color: $color-primary;
        background: transparent;
        border: 0.1rem solid transparent;

        &:hover {
            border: 0.1rem solid $color-primary;
        }
    }

    &_norm-text {
        font-size: 2rem;
        text-transform: none;
    }

    &:hover {
        color: $color-primary;
        background: $color-secondary;
    }
}

@keyframes spinning-circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

